<article id="page-index">
  <h2>Put your Halloween costume mysteries here!</h2>

  <% if photos.empty? %>
    <h3>Nobody's uploaded any photos (yet).</h3>
    <p>
      Visit the <a href="/photos/new">photo uploads page</a> to be the first.
    </p>
    
  <div id="login">
    <form action="/login" method="POST">
       <input name="comment_body" placeholder="username bruh"></input>
       <input type="password" name="top_secret_password" placeholder="password bruh"></input>
      <button type="submit"> Add Comment </button>
    </form>
  </div>
  <% else %>
    <ol class="photo-list">
      <% photos.each do |photo| %>
        <li>
          <div class="photo-container">
            <a class="photo-title" href="/photos/<%= photo.id %>">
              <%= photo.title %>
            </a>
            <a href="/photos/<%= photo.id %>">
              <img class="photo-thumb" src="<%= photo.thumb_url %>">
            </a>
          </div>
          <div id="upvote">
            <div style="float: left;">
              <%= photo.likes %>
            </div>
            <form action="/photoLike/<%=photo.id%>" method="POST">
            <button type="submit">☝</button></form>
          </div>
        </li>
      <% end %>
    </ol>
  <% end %>
</article>
