<head>
<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Alegreya+SC' rel='stylesheet' type='text/css'/>
</head>

<article id="page-index">
  <h2 id="titlePart">Spine-chilling Findings</h2>
  
  <div>
      <button id="addPhotoButton"><a id="addPhotoButton1" href="/photos/new">Add Photo</a></button>
  </div>


  <!--MOST IMPORTANT THING TO DO IS TO REMOVE THE ERROR MESSAGE FROM THE SIGN UP PAGE WHEN ITS NOT NEEDED-->
   <% if user_signed_in? %>
   <p id="signed-in">
      You're signed in as <strong><%= current_user.username %></strong>. You can
      <a href="/sessions/sign_out" style="color: #000000">sign out</a> at any time.
    </p>
  <% else %>
    <p id="not-signed-in">
      It doesn't look like you're signed in.  You should
      <a href="/users/new" style="color: #000000">create an account</a> or
      <a href="/sessions/new" style="color: #000000">sign into your existing account</a>.
    </p>
  <% end %>
</article>

  <% if photos.empty? %>
    <h3>Nobody's uploaded any photos (yet).</h3>
    <p>
      Visit the <a href="/photos/new">photo uploads page</a> to be the first.
    </p>
  <% else %>
    <ol class="photo-list">
      <% photos.each do |photo| %>
        <li>
          <div class="photo-container">
            <a class="photo-title" href="/photos/<%= photo.id %>">
              <%= photo.title %>
            </a>
            <a href="/photos/<%= photo.id %>">
              <img class="photo-thumb" src="<%= photo.thumb_url %>">
            </a>
          </div>
          <div id="upvote">
              <%= photo.likes %>
            <form action="/photoLike/<%=photo.id%>" method="POST">
            <button type="submit">Like!</button></form>
          </div>
        </li>
      <% end %>
    </ol>
  <% end %>
</article>
