<article id="page-index">
  <h2>Share your Halloween costume mysteries with others here!</h2>

  
   <% if user_signed_in? %>
   <p>
      It looks like you're signed in as <strong><%= current_user.username %></strong>.  Congrats! You can
      <a href="/sessions/sign_out">sign out</a> at any time.
    </p>
  <% else %>
    <p>
      It doesn't look like you're signed in.  You should
      <a href="/users/new">create an account</a> or
      <a href="/sessions/new">sign into your existing account</a>.
    </p>
  <% end %>
</article>

  <% if photos.empty? %>
    <h3>Nobody's uploaded any photos (yet).</h3>
    <p>
      Visit the <a href="/photos/new">photo uploads page</a> to be the first.
    </p>
  <% else %>
    <ol class="photo-list">
      <% photos.each do |photo| %>
        <li>
          <div class="photo-container">
            <a class="photo-title" href="/photos/<%= photo.id %>">
              <%= photo.title %>
            </a>
            <a href="/photos/<%= photo.id %>">
              <img class="photo-thumb" src="<%= photo.thumb_url %>">
            </a>
          </div>
          <div id="upvote">
            <div style="float: left;">
              <%= photo.likes %>
            </div>
            <form action="/photoLike/<%=photo.id%>" method="POST">
            <button type="submit">☝</button></form>
          </div>
        </li>
      <% end %>
    </ol>
  <% end %>
</article>
