<article id="page-photos-show">
  <div class="photo-container-full">
    <h2 class-"photo-title"><%= photo.title %></h2>
    <div class="photo-info">
      Taken on
      <span class="photo-date"><%= format_time_with_zone(photo.created_at, 'America/Los_Angeles') %></span>. [<a href="<%= photo.original_url %>" target="_blank" download>Download Original</a>]
    </div>
    <a href="<%= photo.original_url %>" target="_blank">
      <img class="photo-image" src="<%= photo.full_url %>">
    </a>
  </div>
  <div>
  <div class="photo-comments">
    <div style="height:75px">
    <form action="/photos/<%= photo.id %>/comments" method="POST">
    
        <textarea name="comment_body" placeholder="comment bruh" style="float: left;"></textarea>
          <button type="submit" style="float: left;"> Add Comment </button>
    </form>
    </div>
      <div class="comments">
        <ul>
        <% photo.comments.each do |comment| %>
        <li><%= comment.body %></li>
        <!--want to add when commented and possibly who commented-->
        <% end %>
        </ul>
      </div>  
        
  </div>
  </div>
</article>
